<div class="login-card">
    <img src="https://media-fastly.hackerearth.com/media/companies/c753dd7-Accolite-logo.png" alt="Responsive image" class="accolite-logo">
    <div class="login-body">
        <h2 class="login-header">Hey, good to see you</h2>
        <h3 class="login-header">Login to get going</h3>
        <button (click)="signIn()" id="google-btn">Sign in with Google</button>
    </div>
    <div class="image">
        <img src="assets/images/logo1.jpg" alt="Management logo" class="logo1">
    </div>
</div>