<div class="container col-md-6">
    <div class="card">
        <div class="card-header" style="text-align: center;">
            <h3>Modify Data</h3>
        </div>
        <div class="card-body">
            <form action="">
                <div class="form-group">
                    <label for="">ID: </label>
                    <input [(ngModel)]="course.id" name="id" type="number" class="form-control" readonly>
                </div>
                <div class="form-group">
                    <label for="">Course Name: </label>
                    <input [(ngModel)]="course.courseName" name="courseName" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="">Skill: </label>
                    <input [(ngModel)]="course.skill" name="skill" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="">Pre-Requisites: </label>
                    <input [(ngModel)]="course.preRequisite" name="preReq" type="text" class="form-control">
                </div>
                <button (click)="modify(course)" class="btn btn-danger" style="margin-top: 20px;">Save</button>
            </form>
        </div>
    </div>
</div>