<h1>COURSE MANAGEMENT</h1>
<ul class="side-nav">
    <li><a (click)="home()">Home</a></li>
    <li><a (click)="menu()">Menu</a></li>
    <li><a (click)="signOut()">SignOut</a></li>
</ul>

<div class="container" style="text-align: center; margin-top: 30px;">
    <button (click)="search()" class="btn btn-info">Search</button>
    <button (click)="newCourse()" class="btn btn-danger" style="margin-left: 20px;">Create new project</button>
    <button (click)="Trends()" class="btn btn-secondary" style="margin-left: 20px;">Trends</button>
</div>
<!-- <div class="course-body">
    <div class="split left">
        <div class="centered-left">
            <form action="">
                <input type="Search" placeholder="Search courses..." name="Search">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
    </div>

    <div class="split right">
        <div class="centered">
            <h2>Create new project</h2>
            <form action="">
                <input type="number" placeholder="Course Name" name="course-name">
                <input type="text" placeholder="Course Name" name="course-name">
                <textarea rows="5" cols="60" name="course-description" placeholder="Course Description"></textarea>
                <input type="text" placeholder="Skills" name="skills">
                <input type="text" placeholder="Pre-requisites" name="pre-req">
                <input type="text" placeholder="Creator Details" name="creator-details">
                <button type="submit" id="save">Save</button>
            </form>
        </div>
    </div>
</div> -->